/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* COMMON */ 
#app-wrapper{
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

.nav a:hover,
.nav-main a:hover {
    color: white;
}

/* MAIN */
main {
    height: calc( 100% - 80px );
}

/* Nav */
.nav {
    width: 200px;
    float: left;
    height: 100%;
    background-color: black;
    color: #606060;
    overflow: hidden;
}

.box-nav {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav a {
    text-decoration: none;
    color: #606060;
    font-size: 11px;
    font-weight: 700;
}


/* logo */
.logo {
    padding: 15px 0;
}

.xs-logo {
    display: none;
}

.logo img{
    width: 120px;
    display: block;
}

/* nav-link */
.nav-link li {
    padding: 3px 0;
}

.nav-link a img {
    width: 20px;
    vertical-align: top;
}

.nav-link li .home {
    color: #d2d2d2;
}

.nav-link li span {
    padding-left: 5px;
}

.nav-link ul li:first-child {
    border-left: 3px solid #adff2f;
    margin-left: -15px;
    padding-left: 12px;
}


/* playlist */
.playlist {
    padding-top: 15px;
    overflow: hidden;
    flex-grow: 1;
    min-height: 150px;
}

.playlist h6 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.add-playlist a{
    font-weight: 700;
    font-size: 13px;
}

.add-playlist i {
    padding: 6px 7px;
    font-size: 16px;
    background-color: #a3a3a3;
    color: black;
    margin-right: 5px;
}

.add-playlist i:hover {
    background-color: white;
}

/* playlist-content */
.playlist-content {
    height: 100%;
    overflow-y: auto;
}

.playlist-content li {
    padding: 5px 0;
}

/* app/account */
.app-account .app i{
    padding-right: 10px;
}

.app-account .app {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.app-account .account {
    padding-top: 10px;
    padding-bottom: 5px;
}

.app-account .account span {
    font-size: 13px;
    color: white;
    font-weight: 700;
}

.account .profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #606060;
    background-color: #606060;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

/* Content */
.main-content {
    width: calc( 100% - 200px);
    float: left;
    height: 100%;
    background-color: #141922;
    color: #a3a3a3;
    overflow-y: auto;
    padding-top: 70px;
}

/* nav-main */
.nav-main {
    text-align: center;
    padding: 10px 0;
}

.nav-main li{
    display: inline-block;
    padding: 0 10px;
}

.nav-main li a {
    text-decoration: none;
    color: #7d7f84;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-main li:first-child {
    border-bottom: 2px solid #adff2f;
    padding-bottom: 4px;
}

/* music-list */
.music-list {
    padding-top: 15px;
}
.music-list h3 {
    color: white;
    padding-left: 10px;
}

/* music-content */
.music-content {
    content: "";
    display: table;
    clear: both;
}

.music {
    float: left;
    width: calc( 100% / 6 );
    text-align: center;
    padding: 15px 10px;
}

.music-img {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5);
    display: none;
}

.overlay i {
    font-size: 30px;
    color: white;
}
.music-img:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.music h4 {
    color: white;
    font-size: 13px;
    padding: 0 10px;
    padding-top: 5px;
}

.music span {
    font-size: 11px;
    padding-top: 5px;
}

.create{
    padding-top: 15px;
}  
.create p {
    font-size: 11px;
    padding-left: 10px;
    padding-top: 10px;
}

.create .music {
    width: calc( 100% / 4 );
}


/* FOOTER */
footer {
    height: 80px;
    background-color: #282828;
    color: #a3a3a3;
    overflow: hidden;
    padding: 0 5px;
}

.footer-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left */
.in-playback{
    display: flex;
    align-items: center;
}

.in-playback img {
    width: 50px;
}

.left h5 {
    font-size: 11px;
    color: white;
    padding-left: 10px;
}

.left h5 div {
    font-size: 10px;
    color: #a3a3a3;
    font-weight: 400;
}

.left h5 div:hover {
    color: white;
    text-decoration: underline;
}

.hearth {
    padding-left: 25px;
    padding-right: 10px;
}

.hearth a, 
.folder a{
    text-decoration: none;
    color: #a3a3a3;
    font-size: 11px;
}

.hearth a:hover, 
.folder a:hover {
    color: white;
}

/* center */
.time-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* button (backward/play/forward) */
.play {
    padding-bottom: 10px;
}

.play li {
    display: inline-block;
    padding: 0 10px;
}

.play li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.play li .play-button {
    font-size: 24px;
}

.play li .play-button:hover {
    font-size: 27px;
}

/* time-song */
.time-container {
    display: flex;
    align-items: center;
}

.time {
    font-size: 10px;
    color: white;
    font-weight: 700;
    padding: 0 5px;
}

.bar {
    width: 350px;
    height: 4px;
    background-color: #6e6e70;
    border-radius: 50px;
}

.bar-small {
    width: 100px;
    height: 100%;
    background-color: #a3a3a3;
    border-radius: 50px;
    position: relative;
}

.cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    top: -4px;
    display: none;
}

.bar:hover .bar-small {
    background-color: #adff2f;
}

.bar:hover .cursor {
    display: block;
} 
/* right */
.right-content {
    display: flex;
    align-items: center;
}

.right-content a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 14px;
}

.right-content .bar {
    width: 100px;
}

.right-content .bar-small {
    width: 30px;
}

/* UPGRADE */
#upgrade {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba( 0, 0, 0, 0.5);
    height: 70px;
    width: calc( 100% - 200px );
    text-align: right;
    padding-top: 20px;
    padding-right: 5px;
}

.button a {
    width: 200px;
    color: white;
    border: 1px solid white;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.button a:hover {
    padding: 13px 38px;
}

@media screen and (max-width: 552px) {

    /* Nav */
    .nav {
        width: 50px;
    }

    /* logo */
    .logo {
        display: none;
    }

    .xs-logo {
        display: block;
        text-align: center;
    }

    .xs-logo img {
        padding: 10px;
    }

    /* nav-link */
    .nav-link {
        flex-grow: 1;
    }

    .nav-link li img {
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .nav-link li a span {
        display: none;
    }
    
    /* playlist */
    .playlist {
        display: none;
    }

    /* app/accout */
    .app-account span {
        display: none;
    }

    .app-account .app {
        border-bottom: none;
        text-align: center;
    }

    .app-account .app i {
        padding-right: 0;
    }

    .app-account .account {
        text-align: center;
        padding-bottom: 10px;
    }

    /* Content */
    .main-content {
        width: calc( 100% - 50px );
    }

  
    /* music-list */
    .music,
    .create .music {
        width: calc( 100% / 2 );
    }

    /* FOOTER */
    .hearth {
        padding: 0;
    }

    
    /* UPGRADE */
    #upgrade {
        width: calc( 100% - 50px );
    }
}

@media (min-width: 553px) and (max-width: 768px) { 
    .music,
    .create .music {
        width: calc( 100% / 2 );
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .music {
        width: calc( 100% / 4 );
        height: 250px;
    }
}